.form-container {
    width: 600px;
    border: 1px solid rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin: 0 auto;
}

.form-title {
    color: #2A414F;
    font-size: 35px;
    font-weight: 400;

}

.input-group label {
    display: block;
    margin-left: 5px;
}

.input-group input {
    width: 415px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 55px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background-color: rgba(243, 196, 78, 0.808);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgba(233, 188, 75, 0.952);
}

.form-link {
    color: #ff9900;
    text-decoration: none;
}